@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap");
.navbar > h2 {
    background: -webkit-linear-gradient(0deg, #eea734, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
}
