@import url("https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap");
.navbar > h2 {
    background: -webkit-linear-gradient(0deg, #eea734, #ff0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Grey Qo", cursive;
    font-weight: 600;
    font-style: normal;
}
